

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
    background-color: rgb(105, 105, 105);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: rgb(255, 0, 0);
    font-size: 2.5em;
} 

.character-select {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
    font-family: 'Press Start 2P', cursive;
}

.character-card {
    background-color: rgb(0, 0, 0);
    border: 3px solid rgb(255, 0, 0);
    border-radius: 10px;
    width: 250px;
    text-align: center;
    padding: 15px;
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0 04px 8px rgb(255, 0, 0);
}

.character-card img {
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 2px solid rgb(255, 0, 0);
}

.character-card h2 {
    margin: 10px 0;
    font-size: 1.2em;
    color: rgb(255, 2, 2);
}

.character-card p {
    font-size: 0.9em;
    line-height: 1.4;
    color: white;
}

.character-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgb(255, 0, 0), inset 0 0 10px rgb(250, 0, 0);
    cursor: pointer;
    border-color: rgb(153, 18, 18);
}

#warrior:hover {
    box-shadow: 0 0 20px rgb(255, 0, 0), inset 0 0 15px orange;
}

#mage:hover {
    box-shadow: 0 0 20px blue, inset 0 0 15px blue;
}

#archer:hover {
    box-shadow: 0 0 20px purple, inset 0 0 15px purple;
}