body{
    background-color: rgba(253, 253, 253, 0.281);

}

.header{

    background-color: blue;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}
.container{
    margin: 20px;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 5px;
    border: 10px solid #101010
}

.caixa1{
    background-color: rgb(0, 255, 242);
    border: 2px solid rgb(0, 26, 255);
    padding: 15px;
    margin-bottom: 10px;
}

.caixa2{
    background-color: rgb(255, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    padding: 15px;
    margin-bottom: 10px;
}

.caixa3{
    background-color: rgb(255, 153, 0);
    border: 2px solid rgb(60, 255, 0);
    padding: 15px;
    margin-bottom: 10px;
}